body{
  background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-41596.png);
  color:red;
}
.jumbotron{
  text-align: center;
  color: #101082;
}
#result{
  display: none;
  font-size: 30px;
  color: red;
  text-align: center;
}
